*{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: linear-gradient(rgba(17, 17, 17, 1), rgba(17, 17, 17, 0.5), rgba(17, 17, 17, 1)), url("../img/netflix-fondo.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecera{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 10vh;
}

.netflix-logo{
    width: 148px;
    height: 70px;
}

.nav-inicio{
    padding: 15px;
}

.chb-idioma{
    padding: 0px 36px;
    border-color: 1px solid #767676;
    border-radius: 4px;
    background-color: #171310;
    margin: 0px 10px;
    height: 36px;
}

.btn{
    background-color: #E50914;
    border-radius: 4px;
    border-style: none;
    margin: 0px 5px;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.btn-inicio-sesion{
    padding: 8px 36px;
    text-decoration: none;
    height: 36px;
}

.btn-comenzar{
    padding: 10px 36px;
    font-size: 24px;
    font-weight: 100;    
}

.btn-inicio-sesion:hover{
    background-color: #bd0710
}

.btn-comenzar:hover{
    background-color: #bd0710
}

.contenido{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;   
}

.sub-1{
    font-size: 48px;
    font-weight: bold;
}

.sub-2{
    font-size: 24px;
    margin-top: 16px;
}

.sub-3{
    font-size: 20px;    
}

.inp-user{
    width: 360px;
    height: 45px;  
    background-color: #171310b6;  
    border-style: none;   
    border-radius: 4px;
    border: 1px solid #767676;
    font-size: 20px;
    padding-left: 15px;
}

.opcion-comerzar{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inp-user:hover{
    border: 4px double #767676;
}

@media only screen and (max-device-width: 550px) {
    .cabecera{
        margin: 10px 10px;
        height: 10vh;
    }

    .netflix-logo{
        width: 110px;
        height: 50px;
    }
    
    .nav-inicio{
        padding: 10px;
    }

    .chb-idioma{
        padding: 0px 10px;
        margin: 0px 3px;
        height: 30px;
    }

    .btn-inicio-sesion{
        padding: 0px 5px;
        height: 30px;
    }

    .btn-comenzar{
        padding: 15px 5px;
        font-size: 18px;
        font-weight: 100;    
    }

    .inp-user{
        width: 300px;
        height: 45px;  
        font-size: 20px;
        margin-bottom: 20px;
    }

    .sub-1{
        font-size: 40px;
        font-weight: bold;
    }
    
    .sub-2{
        font-size: 22px;
        margin-top: 16px;
    }
    
    .sub-3{
        font-size: 20px;    
    }

    .opcion-comerzar{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

