.cabecera-login{
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 10vh;
}

.nav-inicio-login{
    visibility: hidden;
}
.contenido-login{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.card{
    width: 450px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000075;
}

.logo-interno{
    width: 340px;
    display: none;
}

.texto-1{
    width: 340px;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 28px;
}

.input-form{
    width: 314px;
    color: white;
    padding: 16px 16px;
    background-color: rgba(22, 22, 22, 0.7);
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 18px;
    margin-bottom: 15px;
}

.input-form::placeholder{
    color: #ADB8AE;
}

.input-form:focus{
    border: 4px double white;
    outline: none;
}

.boton-sesion{
    width: 344px;
    height: 40px;
    text-decoration: none;
}

.boton-sesion:hover{
    background-color: #bd0710
}

.texto-2{
    width: 340px;
    font-size: 18px;
    margin: 18px;
    text-align: center;
}

.boton-codigo{
    width: 344px;
    height: 40px;
    text-decoration: none;
    background-color: #6d6c6c5d;
}

.boton-codigo:hover{
    background-color: #6d6c6c34;
}

.renovar-password{
    width: 340px;
    font-size: 18px;
    margin: 18px;
    text-align: center;
    text-decoration: none;
}

.renovar-password:hover{
    text-decoration: underline;
}

.input-check-div{
    width: 340px;
    text-align: left;
    font-size: 18px;
}

.input-checkox{
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 0.5px solid white;
    background-color: #0e0e0e;
    appearance: none;
    outline: none;
    cursor: pointer;
}

.input-checkox:hover{
    border: 2px solid white;
}

.input-checkox:checked{
    background-color: rgb(198, 198, 198);
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='black' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.texto-3{
    width: 340px;
    color: #B0B9B9;
    font-size: 16px;
    margin: 18px;
    text-align: left;
}

.suscripcion{
    font-weight: bold;
    text-decoration: none;
}

.suscripcion:hover{
    text-decoration: underline;
}

.texto-4{
    width: 340px;
    color: #B0B9B9;
    font-size: 14px;
}

.informacion{
    color: #0871C5;
    text-decoration: none;
}

.informacion:hover{
    text-decoration: underline;
}

@media only screen and (max-device-width: 600px) {
    body{
        background-image: none;
        background-color: #0e0e0e;
    }

    .cabecera-login{
        display: none;
    }

    .logo-interno{
        display: block;
    }
}

@media only screen and (max-device-height: 600px) {
    body{
        height: 100%;
    }

    .cabecera-login{
        height: 10%;
    }

    .contenido-login{
        height: 90%;
    }
}